@{
    ViewBag.Title = "Home Page";
}

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="banner-slider">
        <div class="slide active">
            <img src="~/Images/pexels-chanwalrus-958545.jpg" />
            <div class="content">
                <h4>HƯƠNG VỊ ĐỘC ĐÁO</h4>
                <p class="banner-text">Tròn vị, Tinh tế & Sáng tạo</p>
                <a href="../CustomerProducts/Index" class="btn">Mua Ngay!</a>
            </div>
        </div>
        <div class="slide">
            <img src="~/Images/pexels-elevate-1267320.jpg" />
            <div class="content">
                <h4>THƯỞNG THỨC TUYỆT VỜI</h4>
                <p class="banner-text">Ngon - Bổ - Rẻ</p>
                <a href="../CustomerProducts/Index" class="btn">Khám Phá!</a>
            </div>
        </div>
        <div class="slide">
            <img src="~/Images/pexels-fauxels-3184192.jpg" />
            <div class="content">
                <h4>MÓN ĂN HẤP DẪN</h4>
                <p class="banner-text">Đậm đà, Khó quên</p>
                <a href="../CustomerProducts/Index" class="btn">Thử Ngay!</a>
            </div>
        </div>
        <div class="slide">
            <img src="~/Images/pexels-pixabay-262978.jpg" />
            <div class="content">
                <h4>HƯƠNG VỊ TUYỆT VỜI</h4>
                <p class="banner-text">Tươi ngon, Chất lượng</p>
                <a href="../CustomerProducts/Index" class="btn">Khám Phá Ngay!</a>
            </div>
        </div>
    </div>
</div>

<style>
    .main-banner {
        position: relative;
        width: 100%;
        height: 600px;
        overflow: hidden;
    }

    .banner-slider {
        display: flex;
        width: 400%;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        position: relative;
        width: 25%;
        text-align: center;
    }

        .slide img {
            width: 100%;
            height: 600px;
            object-fit: cover;
            filter: brightness(70%);
        }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
    }

    .banner-text {
        font-size: 24px;
        font-weight: bold;
        color: white;
        font-family: "Times New Roman", serif;
    }

    h4 {
        font-family: "Times New Roman", serif;
    }

    .btn {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        background: #ff4500;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: 0.3s;
    }

        .btn:hover {
            background: #ff6347;
        }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let index = 0;
        const slides = document.querySelectorAll(".slide");

        function changeSlide() {
            index = (index + 1) % slides.length;
            document.querySelector(".banner-slider").style.transform = `translateX(-${index * 25}%)`;
        }

        setInterval(changeSlide, 3000);
    });
</script>
<!-- ***** Main Banner Area End ***** -->
<!--***** Combo Area Starts ***** -->
<section class="section" id="men">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2 style="font-size: 32px;">Combo ngon mỗi ngày</h2>
                    <p style="font-size: 20px; font-style: italic;">Gợi ý sự đa dạng của món ăn và giá cả ưu đãi.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="../CustomerProducts/Details/6"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="../CustomerProducts/Details/6"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../Cart/GetCartInfo"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/cb2.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Combo1</h4>
                                <span>$79.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="../CustomerProducts/Details/7"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="../CustomerProducts/Details/7"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../Cart/GetCartInfo"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/cb3.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Combo2</h4>
                                <span>$349.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="../CustomerProducts/Details/8"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="../CustomerProducts/Details/8"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../Cart/GetCartInfo"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/cb4.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Combo3</h4>
                                <span>$79.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="../CustomerProducts/Details/9"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="../CustomerProducts/Details/9"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../Cart/GetCartInfo"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/cb6.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Combo4</h4>
                                <span>$199.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- *****Combo Ends *****
 ***** Món chính Starts ***** -->
<section class="section" id="women">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Món chính</h2>
                    <span>Những chi tiết tinh tế tạo nên sự khác biệt cho mỗi sản phẩm.</span>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="women-item-carousel">
                    <div class="owl-women-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="../CustomerProducts/Details/3"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="../CustomerProducts/Details/3"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../Cart/GetCartInfo"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/Screenshot 2024-06-27 193127.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Cơm trộn thịt bò Mỹ</h4>
                                <span>$59.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="../CustomerProducts/Details/1"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="../CustomerProducts/Details/1"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../Cart/GetCartInfo"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>

                                <img src="~/assets/images/Screenshot 2024-06-27 192923.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Mì Kim chi bò Mỹ</h4>
                                <span>$62.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="../CustomerProducts/Details/2"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="../CustomerProducts/Details/2"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../Cart/GetCartInfo"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/Screenshot 2024-06-27 193042.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Mì trộn xốt phô mai</h4>
                                <span>$59.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="../CustomerProducts/Details/18"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="../CustomerProducts/Details/18"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../Cart/GetCartInfo"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/Screenshot 2024-06-27 192253.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Mì Kim chi đặc biệt</h4>
                                <span>$69.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Món chính  Area Ends *****
 ***** Drink Area Starts ***** -->
<section class="section" id="kids">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Đồ uống-Ăn vặt</h2>
                    <span>Những món ăn và thức uống độc đáo tạo nên trải nghiệm ẩm thực thú vị.</span>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="kid-item-carousel">
                    <div class="owl-kid-item owl-carousel">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="../CustomerProducts/Details/15"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="../CustomerProducts/Details/15"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../Cart/GetCartInfo"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/dr1.jpg" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Super Sundae</h4>
                                <span>$25.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="../CustomerProducts/Details/16"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="../CustomerProducts/Details/16"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../Cart/GetCartInfo"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/dr2.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>Trà Lài Đác Thơm</h4>
                                <span>$59.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="../CustomerProducts/Details/19"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="../CustomerProducts/Details/19"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../Cart/GetCartInfo"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/f3.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4>
                                    Tiramisu Mini
                                </h4>
                                <span>$32.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="../CustomerProducts/Details/18"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="../CustomerProducts/Details/18"><i class="fa fa-star"></i></a></li>
                                        <li><a href="../Cart/GetCartInfo"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="~/assets/images/f1.png" alt="">
                            </div>
                            <div class="down-content">
                                <h4> Passion Panna Cotta</h4>
                                <span>$32.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Drink Area Ends *****
 ***** Explore Area Starts ***** -->
<section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content" style="font-family: 'Times New Roman', serif;">
                    <h2>Khám Phá Sản Phẩm Của Chúng Tôi</h2>
                    <span>Chúng tôi tự tin rằng bạn sẽ yêu thích các sản phẩm của chúng tôi. Đặt hàng ngay hôm nay và trải nghiệm sự khác biệt!</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p></p>
                    </div>
                    <p>
                        Những người muốn sống một lối sống khỏe mạnh: Chúng tôi cung cấp đa dạng sản phẩm để giúp bạn ăn uống lành mạnh hơn, tập thể dục nhiều hơn và quản lý mức độ căng thẳng của bạn.
                        Những người muốn trở nên hiệu quả hơn: Sản phẩm của chúng tôi có thể giúp bạn tổ chức suy nghĩ, tập trung và hoàn thành công việc hiệu quả hơn.
                        Những người muốn thể hiện sự sáng tạo của mình: Sản phẩm của chúng tôi có thể giúp bạn thảo luận sự sáng tạo và tạo ra những điều tuyệt vời.
                    </p>

                    <div class="main-border-button">
                        <a href="products.html">Khám Phá Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leather">
                                <h4>Đặc Sản</h4>
                                <span>Món Mới Hấp Dẫn</span>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="~/assets/images/t1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="~/assets/images/t2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="types">
                                <h4>Các Loại Khác Nhau</h4>
                                <span>Hơn 100 Món ăn đa dạng</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Explore Area Ends *****
 ***** Social Area Starts ***** -->
<section class="section" id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Social Media</h2>
                    <span>Chi tiết từng sản phẩm là điều làm nên sự khác biệt.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row images">
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Món Tráng Miệng</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/z7.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Món mới</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/z8.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Thương hiệu</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/z9.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Đặc Sản</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/z10.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Món Ăn Nhẹ</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/z11.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="http://instagram.com">
                            <h6>Thức Uống</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <img src="~/assets/images/z12.jpg" + alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Social Area Ends *****
 ***** Subscribe Area Starts ***** -->
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>Bằng cách đăng ký nhận bản tin của chúng tôi, bạn có thể được giảm giá 30%</h2>
                    <span>Chi tiết từng sản phẩm là điều làm nên sự khác biệt.</span>
                </div>
                <form id="subscribe" action="" method="get">
                    <div class="row">
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-5">

                        </div>
                        <div class="col-lg-2">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Store Location:<br><span>828 Sư Vạn Hạnh, Phường 13, Quận10, TP.HCM</span></li>
                            <li>Phone:<br><span>0123456789</span></li>a
                            <li>Office Location:<br><span></span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                            <li>Email:<br><span>nhom2@gmail.com</span></li>
                            <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
